.flex-container {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;  
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  text-align: center;
  margin-bottom: 1%;
  width: 100%;
  }
  
  .logo-container {
    margin-top: 5%;
    
  }
  
  .logo-image {
    width: 250px;
    height: 120px;
  }
  
 
  .butAdd{
    margin-top: 5%;
   margin-left: 12%;
  }
  body{
    display: block !important;
  }
